@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
li {
    list-style: none;
}
a {
    color: #111;
    text-decoration: none;
}
body{
    margin: 0;
}
/* 以上、リセットCSS */

.inner{
    max-width: 380px;
}
.information{
    height: 30px;
    background-color: rgb(249, 198, 67);
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.text{
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    line-height: 30px;
}
.menu-arrow img{
   transform:rotate(90deg);
   vertical-align: middle;
   padding-top: 15px;
}

/* ハンバーガーここから */
.infromation-open{
    height: 450px;
    background-color: rgb(249, 198, 67);
    max-width: 380px;
    width: 100%;
    position: fixed;
    top: -450px;
    left: 0;
    padding-bottom: 40px;
    transition: top 0.5s;
    z-index: 300;
}
.open{
    top: 0;
}
.information-top{
    display: flex;
    justify-content: space-between;
}
.headline{
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    line-height: 20px;
}
.information-text{
    font-size: 10px;
    color: white;
    padding-left: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.menu-arrow-close img{
    transform:rotate(270deg);
    vertical-align: middle;
    padding-bottom: 15px;
 }

/* ハンバーガーここまで */


.header{
    height: 60px;
    display: flex;
    max-width: 380px;
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 100;
}
.logo{
    width: 60px;
    background-color: rgb(247, 231, 192);
}
.logo img{
    width: 100%;
}
.header-right{
    width: 320px;
    height: 60px;
}
.top{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #f78159;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.bottom{
    display: flex;
    background-color: rgb(249, 198, 67);
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 10px;
    text-align: center;
}
.bottom-left{
    width: 50%;
    border-right: solid 1px white;
    font-weight: bold;
}
.bottom-right{
    width: 50%;
    font-weight: bold;
}
.main{
    padding-top: 90px;
}
.main-top{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-menu-top{
    display: flex;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(233, 234, 235);
    border-top: solid 0.5px rgb(142, 139, 139);
}
.main-menu-top a{
    color: #f78159;
    font-family: times;
}
.main-menu-bottom{
    display: flex;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(233, 234, 235);
    border-top: solid 0.5px rgb(142, 139, 139);
}
.main-menu-bottom a{
    color: #f78159;
    font-family: times;
}
.home{
    border-bottom: solid 2px rgb(1, 6, 70);
}
.home,.studio,.plan{
    width: 20%;
}
.instructor,.contact{
    width: 50%;
}
.main-pic{
    width: 100%;
    height: 250px;
    position: relative;
}
.main-pic img{
    width: 100%;
}
.top-image{
    position: absolute;
    top: 0;
    left: 0;
	opacity: 0;
	animation: change-img-anim 15s infinite;
}
.top-image:nth-of-type(1) {
    /* animation: change-img-anim-first 5s infinite; */
    animation-delay: 0s;
}
.top-image:nth-of-type(2) {
    animation-delay: 5s;
}
.top-image:nth-of-type(3) {
    animation-delay: 10s;
}
/* @keyframes change-img-anim-first {
    0%{ opacity: 1;}
    20%{ opacity: 1;}
    100%{ opacity: 0;}
} */
@keyframes change-img-anim {
    0%{ opacity: 0;}
    20%{ opacity: 1;}
    100%{ opacity: 0;}
}


.img-text{
    width: 100%;
    height: 55px;
    background-color: rgb(26, 27, 27);
    opacity: 0.6;
    position: absolute;
    bottom: 5px;
    color: white;
    padding-left: 3px;
}
.yoga-title{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.yoga-text{
    font-size: 10px;
}
.pictures{
    height: 55px;
}
.icon{
    width: 15%;
}
.icon img{
    width: 50%;
    height: 20px;
    margin-top: 5px;
}
.pic-text{
    width: 70%;
}
.arrow-right{
    width: 15%;
    margin-top: 4px;
}
.arrow-right img{
    padding-left: 20px;
}
.text-area{
    padding: 0 4px;
}
.text-head{
    font-size: 19px;
    font-weight: bold;
    color: #f78159;
    margin-bottom: 10px;
}
.link-btn{
    width: 95%;
    height: 30px;
    margin: 0 auto;
    background: linear-gradient(180deg, #a1a0a0 50%, #939292 50%);
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    color: white; 
    position: relative;
    display: flex;
}
.link-text{
    width: 95%;
    line-height: 30px;
    text-align: center;
    padding-left: 30px;
}
.link-btn a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.title-set{
    width: 100%;
    font-size: 25px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #5b5858;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: times;
    position: relative;
}
 
.studio-box{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.studio-info{
    width: 45%;
    margin-bottom: 20px;
}
.studio-info-img{
    background-color: black;
    position: relative;
    height: 120px;
}
.studio-info img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.studio-place{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    line-height: 140px;
    color: white;
    text-align: center;
    font-family: Times;
}
.price-table-area{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.price-table{
    border-collapse: collapse;
    width: 100%;
}
.price-table th,.price-table td{
    border: 1px solid #f78159;
    text-align: center;
    font-family: times;
    height: 30px;
    line-height: 30px;
}
.price-table th{
    background-color:#f78159;
    color: white;
}
.price-table th:first-child{
    border-right: 1px solid white;
}
.instructor-pic{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.instructor-pic img{
    width: 100%;
}
.instructor-text{
    width: 100%;
    position: absolute;
    bottom: 5px;
    color: white;
    padding-left: 3px;
}
.instructor-text p{
    font-family: times;
}
.instructor-info{
    width: 90%;
    margin: 20px auto;
    font-family: times;
}
.contact-btn{
    width: 50%;
    height: 50px;
    margin: 0 auto;
    background: linear-gradient(180deg, #f69c7e 50%, #f78159 50%);
    border-radius: 20px;
    line-height: 35px;
    font-size: 12px;
    color: white; 
    position: relative;
    display: flex;
}
.contact-text{
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
.contact-btn a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.policy-info{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 0.5px #a1a0a0;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.policy-info-item{
    height: 20px;
    line-height: 20px;
    width: 50%;
    padding-left: 10px;
}
.policy-info-item a{
    font-size: 8px;
}
.sns-list{
    height: 60px;
    display: flex;
    margin: 0 auto;
    border-top:  solid 0.5px #a1a0a0;
    border-bottom:  solid 0.5px #a1a0a0;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.sns{
    width: 55px;
    height: 55px;
    padding: 0 5px;
}
.sns img{
    padding-top: 5px;
    width: 100%;
}
.small img{
    padding-top: 12px;
    width: 100%;
}
footer{
    text-align: center;
    font-size: 5px;
    padding-top: 10px;
    margin-bottom: 50px;
}